<div class="box tabular">
		
	<% if @document.errors.any? then %>
		<ul class="errors">
		<% @document.errors.full_messages.each do |msg| %>  
    		<li><%= msg %></li>
    	<% end %>
		</ul>
  <% end %> 
			
	<%= labelled_form_for :document, @document, :url => {:id => @document, :project_id => @project} do |f| %>
		<p><%= f.text_field :name, :size => 60, :required => true %></p>
		<p><%= f.text_field :title, :size => 60, :required => true %></p>
		<p><%= f.text_field :author, :size => 60, :required => true %></p>
		<div align=left><%= submit_tag l(:button_save) %></div>
	<% end %>
	 
</div>