<h2><%= t :pdf_headline_edit %></h2>

<%= render "form" %>

<div class="splitcontentleft">
	<div class="contextual">
		<%= link_to t(:pdf_link_new_page), {:controller => :pdf_documents_wiki_pages, :action => :new, :project_id => @project, :pdf_document_id => @document}, :class => "icon icon-add" %>
	</div>

	<h3><%= t :pdf_headline_wikipages %></h3>
	<% @wiki_pages = @document.pdf_documents_wiki_pages %>
	<% @pdf_documents_document = @doc %>
	<%= render "pdf_documents_wiki_pages/list" %>
	
</div>